go 1.23

use (
	./src/go/apps/market-item-category-scraper
	./src/go/apps/minimum-wage-scraper
	./src/go/libs/env
	./src/go/libs/http-client
	./src/go/libs/loa-api
	./src/go/libs/loa-db
	./src/go/libs/schedule
)
