go 1.23.0

toolchain go1.23.6

use (
	./src/go/apps/auction-item-stat-scraper
	./src/go/apps/market-item-category-scraper
	./src/go/apps/market-item-scraper
	./src/go/apps/market-item-stat-scraper
	./src/go/libs/env
	./src/go/libs/http-client
	./src/go/libs/loa-api
	./src/go/libs/loa-db
	./src/go/libs/monitoring
	./src/go/libs/schedule
)
