name: Backend Tests

on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
      - unlocked
    paths:
      - "src/backend/**"
  push:
    branches:
      - main
    paths:
      - "src/backend/**"
  workflow_dispatch:

jobs:
  backend-tests:
    name: Run Backend tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup Node 22
        uses: actions/setup-node@v6
        with:
          node-version: "22.18.0"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.15.0

      - uses: extractions/setup-just@v3

      - name: Install dependencies
        run: just deps

      - name: Create and start databases
        run: |
          echo 'version: "3.8"

          services:
            postgres:
              image: postgres:16.8-alpine
              environment:
                POSTGRES_USER: postgres
                POSTGRES_PASSWORD: postgres
                POSTGRES_DB: postgres
              ports:
                - "5432:5432"' > docker-compose.ci.yaml
          docker compose -f docker-compose.ci.yaml up -d

      - name: Wait for database to be ready
        run: |
          npm install -g wait-on
          wait-on tcp:5432

      - name: Run tests
        run: just test backend

      - name: Run e2e tests
        run: just test-e2e
        env:
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          DISCORD_CLIENT_ID: ${{ secrets.DISCORD_CLIENT_ID }}
          DISCORD_CLIENT_SECRET: ${{ secrets.DISCORD_CLIENT_SECRET }}
          KAKAO_CLIENT_ID: ${{ secrets.KAKAO_CLIENT_ID }}
          KAKAO_CLIENT_SECRET: ${{ secrets.KAKAO_CLIENT_SECRET }}
          SESSION_SECRET: ${{ secrets.SESSION_SECRET }}
          DISCORD_GOLD_EXCHANGE_RATE_WEBHOOK_URL: ${{ secrets.DISCORD_GOLD_EXCHANGE_RATE_WEBHOOK_URL }}
