name: Go Tests

on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
      - unlocked
    paths:
      - "src/go/**"
      - ".github/workflows/go-tests.yml"
      - "justfile"
  push:
    branches:
      - main
    paths:
      - "src/go/**"
      - ".github/workflows/go-tests.yml"
      - "justfile"
  workflow_dispatch:

jobs:
  go-tests:
    name: Run Go tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@master

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.23

      - name: Set up Just CLI
        uses: extractions/setup-just@v3

      - name: Run Go tests
        run: just go-test
