name: Lint Code

on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
      - unlocked
    paths:
      - "src/backend/**"
      - "src/frontend/**"
      - "src/go/**"
      - ".github/workflows/**"
      - "justfile"
      - "**/*.json"
      - "**/*.yml"
      - "**/*.yaml"
      - "**/*.md"
  push:
    branches:
      - main
    paths:
      - "src/backend/**"
      - "src/frontend/**"
      - "src/go/**"
      - ".github/workflows/**"
      - "justfile"
      - "**/*.json"
      - "**/*.yml"
      - "**/*.yaml"
      - "**/*.md"
  workflow_dispatch:

jobs:
  lint-backend:
    name: Lint Backend Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup Node 22
        uses: actions/setup-node@v6
        with:
          node-version: "22.18.0"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.15.0

      - uses: extractions/setup-just@v3

      - name: Install dependencies
        run: just deps

      - name: Lint Backend
        run: just lint backend

  lint-frontend:
    name: Lint Frontend Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup Node 22
        uses: actions/setup-node@v6
        with:
          node-version: "22.18.0"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.15.0

      - uses: extractions/setup-just@v3

      - name: Install dependencies
        run: just deps

      - name: Lint Frontend
        run: just lint frontend

  lint-go:
    name: Lint Go Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup Go 1.23
        uses: actions/setup-go@v6
        with:
          go-version: "1.23"

      - uses: extractions/setup-just@v3

      - name: Lint Go
        run: just lint go

  lint-config:
    name: Lint Config Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup Node 22
        uses: actions/setup-node@v6
        with:
          node-version: "22.18.0"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.15.0

      - uses: extractions/setup-just@v3

      - name: Install dependencies
        run: just deps

      - name: Lint Config Files
        run: just lint config
